*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.bg {
	background-image: url('http://lansky-forum.stor.sinaapp.com/bg/5.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
}
 .play_border {
 	border: 3px solid #999;
 	border-radius: 8px;
 	margin: 4px 2px 2px;
 	flex-grow: 7;
 	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
 }
 .play_list {
 	flex-shrink: 0;
 	flex-grow: 3;
 	border-radius: 8px;
 	margin: 4px 2px 2px;
 	border: 3px solid #999;
 	box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
 }
 .lrc_border {
 	flex-grow: 1;
 }
 .button {
 	text-align: center;
 	color: #fff;
 	font-weight: 800;
 	text-shadow: 1px 1px 6px black;
 }
 .button rowspan {
 	border: 1px solid;
 	display: inline-block;
 	margin-right: 20px;
 	font-size: 3vmin;
 	padding: 2px;
 	text-transform: uppercase;
 	line-height: 1.5em;
	
 	border-radius: 5px;
 }
 .process_img {
	width: 5vw;
	position: relative;
	left: 0vw;
 }
 .play_list span {
 	display: block;
 	padding: 10px;
 	margin: 5px 0;
 	border-radius: 4px;
 	background-color: rgba(0,0,0,0.1);
 	color: #fff;
 	font-weight: 500;
 	font-family: ubuntu mono, sans-serif;
 	border: 1px solid #EEEAB1;
 }
@media (min-width:1200px) {
	.play_list {
		flex-grow: 2;
	}
	.play_border {
		flex-grow: 8;
	}
}